.order-confirmed{
    padding: 1.2rem;
}

.order-confirmed img{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.order-text h1{
    color: var(--rose-900);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.order-text p{
    color: var(--rose-500)
}

.order-total{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.order-total h2{
    font-size: 1.8rem;
}