.added-items, .added-items-order{
    background-color: var(--rose-50);
    color: var(--rose-500);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.added-items p{
    color: var(--rose-400);
    background-color: transparent;
}

.price-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.price-order p{
    color: var(--rose-900);
}

.price{
    color: var(--rose-900);
    font-size: 1.5rem;
    font-weight: bold;
}

.carbon-neutral-msg{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: var(--rose-100);
    margin-bottom: 1rem;
}

.carbon-neutral-msg p{
    color: var(--rose-900);
    font-size: 0.9rem;
}

.carbon-neutral{
    color: var(--rose-900);
    font-weight: bold;
}

.carbon-neutral-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}