* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'RHT-variable';
    /* outline: 1px red solid; */
}

.App{
    max-width: 375px;
    margin:1.2rem;
}

.desserts-grids {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    row-gap: 1rem;
}

.desserts-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.desserts-sections h1{
    color: var(--rose-900);
}

.your-cart-section{
    background-color: var(--rose-50);
    border-radius: 0.8rem;
    padding: 1.4rem;
    height: 100%;
}

.your-cart-section h1{
    color: var(--red);
    background-color: transparent;
}

:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%)
}

@font-face {
    font-family: 'RHT-italic';
    src: url('./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'RHT-variable';
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf');
}